body{
    font-family: sans-serif;
    /* font-size: 16px; */
  
    
    /* justify-content: space-around; */
    background-color: aliceblue;
}
.container{
    display: flex;
    align-items: center;
}
ul{
    max-width: 80px;
    margin: 10px auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

li{
    background-color: lightblue;
    border: 2px solid dodgerblue;
    padding: 10px 20px;
}

.visita{
  width: 100px;
  display: flex;
  padding-left: 300px;
  margin-top: 1rem;
}
.local{
    width: 100px;
    display: flex;
    padding-right: 300px;
    margin-top: 1rem;
}

h3{
    font-size: 50px;
}
input{
    /* width: 50%; */
    
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      
}
.btn{
    
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
      
}
ul{
    font-size: 40px;
}

